body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-container
{
  text-align: center;
  margin: 2%;
  margin-top: 1%;
  padding-top: 0;
  display: inline-block;
  width: auto;  
}

.top
{
  width: 75%;
  text-align: center;
  margin: auto;
  margin-top: 5%;
}

.card-body
{
  background-color: rgb(253, 243, 230);
}